#map{
    height: 80vh;
    margin: 5vh;
}


h1{
  color: #001B2E;
  font-family: 'Monaco', Courier, monospace;
  text-align: center;
  background-color: #6699CC;
}

h5{
  color: #FF8C42;
  text-align: center;
  font-family: 'Monaco', Courier, monospace;
  font-size: large;
}

h4{
  color:#001B2E;
  text-align: center;
  font-family: 'Monaco', Courier, monospace;
  font-size: large;
}

h3{
  color:#001B2E;
  text-align: center;
  font-family: 'Monaco', Courier, monospace;
  font-size: large;
}

p{
  color: #294C60;
  text-align: center;
  font-family: 'Monaco', Courier, monospace;
  font-size: large;
}

table{
  align-items: center;
  width: fill;
  height: fill;
  margin-left: auto;
  margin-right: auto;
}
td{
  text-align: center;
  align-content: center;
}
button{
  align-self: center;
  text-align: center;
  margin: auto;
  color: white; 
  background-color: #FF8C42;
  width: 150px;
  height: 50px;
  border-width: 0px;
  border-radius: 5px;
  font-size: large;
  margin-top: 20px;
}
div{
  text-align: center;
}
input{
  width: 400px;
  height: 50px;
  margin-top: 20px;
}

label{
  font-family: 'Monaco', Courier, monospace;
  color: #294C60;
  font-size: large;
}